<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title></title>




    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script type="text/javascript">
    $(function () {
            $( "#send" ).click(function() {
                //Get the present URL
                 var urlAddress = $("#urlAddress").val();

                //Get text in the textAreaBox
                var pastedNotes = document.getElementById('writenNote').value
                //Send pastedNotes in XML Post Request
                var httpRequest = new XMLHttpRequest();
                //TO-DO: Stick pastedNotes in the post Request
                httpRequest.open('POST', 'http://localhost:8080/update/'+urlAddress,true);
                httpRequest.setRequestHeader("Content-type", "text/plain");
                httpRequest.onreadystatechange = function() {
                      if (this.readyState == 4 && this.status == 200) {
                         alert("This has been updated !!! ");
                         //window.location.href = "http://localhost:8080/r/"+this.responseText;
                        document.getElementById('statusDiv').innerHTML = "Your text has been updated" ;
                        document.getElementById('statusDiv').style.visibility='visible';

                      }
                    };
                httpRequest.send(pastedNotes);

                // If the post request is succesful, transfer it to another page ... with thee contents

            });
        });





</script>
</head>
<body>



<div class="container-fluid bg">






    <nav th:if="${session.tier != null}" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">PasteBin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Past Edits <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div th:if="${session.tier == 'FREE'}">
                        <a class="dropdown-item" href="#">Upgrade to Premium</a>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>

            </ul>

        </div>
    </nav>

    <div id="statusDiv" style="visibility: hidden">

    </div>
    <br>
    Thank you for using our Service . Your url is   <span th:text = "'http://localhost:8080/r/' + ${urlAddress}"> </span>
    <input type="hidden" id="urlAddress" th:value="${urlAddress}"/>
    <br>



    <div class="row">


        <div>

                <div th:if="${session.tier != 'PREMIUM'}">
                    <a href="#"><textarea readonly  rows="20" style="height: auto;" cols="100" type="text" id="writenNote"  class="notes" > [[${pastedNotes}]]    </textarea></a>
                </div>


            <div th:if="${session.tier == 'PREMIUM'}">
                <textarea  rows="20" style="height: auto;" cols="100" type="text" id="writenNote"  class="notes" > [[${pastedNotes}]]    </textarea></a>
            </div>
            <br>

            <div th:if="${session.tier != null} and ${session.tier != 'FREE'}">
            <input class="btn btn-primary" type="submit" id="send" value="Save">
            </div>

            <br>
            <br>
            <br>



        </div>

    </div>

</div>




</body>
</html>